#topbar {
    background-image: url("project://database/Assets/UI/assets%20mac/topbar.png?fileID=2800000&guid=52f74156a85b1094f8a96bbf87432f82&type=3#topbar");
    height: 20px;
    width: 512px;
    position: absolute;
    left: 0;
    top: 0;
}

#background {
    background-image: url("project://database/Assets/UI/assets%20mac/mac_background.png?fileID=2800000&guid=de6afee996bb46843aef32677b2a4799&type=3#mac_background");
    width: 512px;
    height: 380px;
}

.window {
    position: absolute;
    width: 200px;
    height: 100px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    overflow: visible;
    background-color: rgb(255, 255, 255);
}

.icon {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    align-items: center;
}

.icon VisualElement {
    width: 32px;
    height: 32px;
    -unity-background-scale-mode: scale-to-fit;
}

.icon Label {
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
    padding-right: 5px;
    font-size: 9px;
    -unity-text-align: upper-center;
}

.icon:hover Label {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

.window .header {
    height: 18px;
    background-image: url("project://database/Assets/UI/assets%20mac/window_header.png?fileID=2800000&guid=68677b7c4442cad409aeed2eb2e4c2a0&type=3#window_header");
    visibility: visible;
    position: absolute;
    width: 100%;
    -unity-background-scale-mode: stretch-to-fill;
}

.closed {
    visibility: visible;
    overflow: visible;
    display: none;
}

.disketteicon VisualElement {
    background-image: url("project://database/Assets/UI/assets%20mac/disquette.png?fileID=2800000&guid=100d80a4361445b4083eba0c27407603&type=3#disquette");
    -unity-background-scale-mode: scale-to-fit;
}

.disketteicon:hover VisualElement {
    background-image: url("project://database/Assets/UI/assets%20mac/diskette_focus.png?fileID=2800000&guid=5bad9d4bb1bf41c41ac6fbaeb70041d0&type=3#diskette_focus");
}

.foldericon VisualElement {
    background-image: url("project://database/Assets/UI/assets%20mac/folder.png?fileID=2800000&guid=419ccb098ef1e054ebc34775eb9d852c&type=3#folder");
    -unity-background-scale-mode: scale-to-fit;
}

.foldericon:hover VisualElement {
    background-image: url("project://database/Assets/UI/assets%20mac/folder_focus.png?fileID=2800000&guid=55949b9a8ab6c5d4fab657d95334ece7&type=3#folder_focus");
}

.window .header Label {
    background-color: rgb(255, 255, 255);
    align-self: auto;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    height: 17px;
    font-size: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

#pointer {
    position: absolute;
    width: 8px;
    height: 14px;
    background-image: url("project://database/Assets/UI/assets%20mac/cursor.png?fileID=2800000&guid=fb72479f4417508468506bf4fce31576&type=3#cursor");
    left: 50px;
    top: 50px;
    opacity: 1;
    display: flex;
}
